#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY=

# .env
# Environment variables for the application
PRODUCTION=
EMULATORS=
API_CRAWL4AI_URL=
API_ARACHNEFLY_URL=
PORT=

# Firebase configuration variables
GCP_PROJECT_ID=
API_KEY=
AUTH_DOMAIN=
DATABASE_URL=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=
MEASUREMENT_ID=
# reCAPTCHA
RECAPTCHA_KEY=
# Stripe
STRIPE_PUBLIC_KEY=

# API keys for various services
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
JINAAI_API_KEY=
GROQ_API_KEY=
CRAWL4AI_API_KEY=
GOOGLE_API_KEY=

# Upstash Redis configuration variables
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_PORT=
UPSTASH_REDIS_REST_USER=
UPSTASH_REDIS_REST_PASSWORD=
UPSTASH_REDIS_REST_TOKEN=
FIREBASE_VAPID_KEY=